body {
    background-color: rgb(157, 224, 203);
    font-family: Arial, Helvetica, sans-serif;
    
}

.logo {
    width: 600px;
    height: 120px;
}

.logo img {
    width: 100%;
    height: auto;
}